.landing-title {
  text-align: center;
  max-height: 7rem;
  font-size: 6rem;
  font-weight: 500 !important;

  line-height: 1;
  background: linear-gradient(
    45deg,
    #3895a9,
    #3895a9 32%,
    #dd60bb 75%,
    #e93d53 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.landing-span {
    font-family: "Roboto"
}